.container {
  border: 1px solid rgba(80,80,80,0.4);
  border-radius: 2px;
  max-width: 25%;
  margin: auto;
  min-height: 519px;
  
}
h1 {
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.hidden-label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.container1 {
  width: 80%;
  margin: auto;
}
input[type="text"],
input[type="mobile-number"],
input[type="email-id"],
input[type="password"] {
  width: 96%;
  margin: 3px 0 25px 0;
  padding: 5px 4px;
}
input[type="password"] {
    width: 96%;
    margin: 3px 0 6px 0;
    padding: 5px 4px;
  }


input[type="text"]:focus,
input[type="mobile-number"]:focus,
input[type="email-id"]:focus,
input[type="password"]:focus {
  outline-width: 0;
  /* outline: 2px solid orange;     oranges! yey */
  /* border: 0px solid orange;   */
  border: 1px solid #e77600 ;
  border-radius: 2px;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5); /* oranges! yey */
}
button {
  width: 100%;
  padding: 5px 0;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  outline: 0;
  border: 0;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
p{
  font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p a{
    text-decoration: none;
    color:#17A589  ;
}
p a:hover{
    color:#4B476A  ;
    text-decoration: underline rebeccapurple;
}
h2{
    font-size: 2rem;
    font-weight: normal;
}
.divider{
  background-color: transparent;
  background: -webkit-linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
  background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
  z-index: 1;
}